In [23]:
#Q1 Convert an integer to a floating-point number.
a=int(2)
a
b=float(a)
print(type(b))
b

<class 'float'>

2.0

In [5]:
#Q2. Convert a float to an integer.
f=2.00
b=int(b)
print(type(b))
b

<class 'int'>

2

In [11]:
#Q3. Convert an integer to a string.
i=2
s=str(i)
print(type(s))
s

<class 'str'>

'2'

In [16]:
#Q4.Convert a list to a tuple.
l=[1,2,3,4,"s"]
t=tuple(l)
print(type(t))
t

<class 'tuple'>

(1, 2, 3, 4, 's')

In [24]:
#Q5. Convert a tuple to a list
t=(1,2,3)
l=list(t)
print(type(l),l)

<class 'list'> [1, 2, 3]

In [41]:
#Q6.  Convert a decimal number to binary.
d=int(16)
d=16//2
b=bin(d)
b

'0b1000'

In [42]:
# Q7. Convert a non-zero number to boolean.
a=22
b=bool(a)
b

True